<!DOCTYPE html>
<html>
<head>
  <title>سامانه مدیریت دانش‌آموزان</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body class="bg-light text-center">

  <div class="container py-5">
    <h1 class="mb-4">🎓 سامانه مدیریت دانش‌آموزان</h1>
    <p class="lead">با این سامانه می‌تونی اطلاعات دانش‌آموزها رو به راحتی ثبت، مشاهده و مدیریت کنی.</p>

    <div class="d-grid gap-3 col-6 mx-auto mt-4">

      <link rel="stylesheet" href="/static/style.css">
      <a href="/login-form" class="main-login-button">ورود به حساب</a>
      <a href="/register-form" class="main-register-button">ثبت‌نام</a>
      <a href="/create-student-form" class="btn btn-success btn-lg">➕ افزودن دانش‌آموز</a>
      <a href="/students/view" class="btn btn-primary btn-lg">📋 لیست دانش‌آموزها</a>
      <a href="/students/search" class="btn btn-warning btn-lg">🔍 جست‌وجو</a>
      <a href="/students" class="btn btn-primary btn-lg">📚 مشاهده دانش‌آموزها</a>
    </div>
  </div>

</body>
</html>